.wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;

  margin-bottom: 20px;
  margin-top: 20px;
}

.world {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 270px;
  height: 180px;
}
